:root {
  --bg-dark: #0447ff;
  --logo-height: 100px;
  --header-height: 100px;
  --aside-width: 225px;
  --menu-top-height: 70px;
  --footer-height: 40px;

  --shadow: 0 2px 23px 0 rgba(0,0,0,0.1), 0 2px 49px 0 rgba(0,0,0,0.06);
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.app {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: var(--aside-width) 1fr;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
  grid-template-areas: "logo header"
                       "menu content"
                       "menu footer";
  height: 100vh;
  background-color: #f3efe6;
}

aside.logo {
  grid-area: logo;
}

header.header {
  grid-area: header;
}

aside.menu-area {
  grid-area: menu;
  background-color: #7c5a49;
}

main.content {
  grid-area: content; 
}

footer.footer {
  grid-area: footer;
}

@media(max-width: 768px) {
  .app {
    grid-template-rows: var(--header-height) var(--menu-top-height) 1fr var(--footer-height);
    grid-template-columns: var(--aside-width) 1fr;
    grid-template-areas: 
      "logo header"
      "menu menu"
      "content content"
      "footer footer"
    ;
  }
  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    height: 100%;
  }

  .menu a {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    padding: 10px;
    margin: 0;
  }
}

@media(max-width: 576px) {
  .app {
    grid-template-rows: var(--logo-height) var(--menu-top-height) 1fr var(--footer-height);
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "menu" "content" "footer";
  }

  .header {
    display: none;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 25px;
  background-color: #f3efe6;
  box-shadow: var(--shadow);
}

.header {
  display: flex;
  gap: 1rem;

  background-color: #FFF;
  padding: 0 1rem;
  overflow: hidden;

  white-space: nowrap;
  box-shadow: var(--shadow);
}

.header i{
  font-size: 3rem;
}

.header h1 {
  font-size: 1.8em;
}

.logo {
  background-color: #7c5a49;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer > div {
  background-color: #FFF;
  box-shadow: 0 0 15px #0004;
  border-radius: 5px;
  margin:1rem;
}

.menu-area {
  background-color: #7c5a49;
}

.menu a {
  display: block;
  text-decoration: none;
  color: #FFF;
  font-weight: 300;
  padding: 15px;
}

.menu a:hover {
  background: linear-gradient(135deg, #e0c8bc 0%, #e0c8bc 100%);
  color: #7c5a49;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
  width: 80%;
  max-width: 600px;
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.modal-title {
  margin: 0;
  font-size: 1.5rem;
  flex-grow: 1;
  text-align: center;
}

.modal-error .modal-header {
  color: red;
}

.modal-success .modal-header {
  color: green;
}

.modal-info .modal-header {
  color: blue;
}

.modal-header .icon {
  margin-right: 10px;
}

.modal-header a {
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: auto;
  cursor: pointer;
  padding: 0 10px;
}

.modal-header a:hover {
  color: darkgray;
}

.modal-body {
  padding-top: 10px;
  text-align: center;
}
